 <div class="user-details">
  <h1> What do I do? </h1>
  <p> {{site.user_description}} </p>
</div>
<div class="user">
<div class="tech">
  <h2>Code</h2>
  <i class="devicon-cplusplus-plain"></i>
  <i class="devicon-csharp-plain"></i>
    <ul>
      <li>1 year of unity experience.</li>
      <li>Primarly work with C++</li>
      <li>Past experience with GLSL</li>
    </ul>
</div>
<div class="user">
<div class="tech">
      <h2>Libraries</h2>
      <p>I've worked with OpenGL for my graphics project and now I am currently working with ENet for the group project I am collaborating on.</p>
    </div>
<div class="user">
<div class="tech">
        <h2>Engines</h2>
        <p>I have experience with both Unreal and Unity with Unreal being the majority of my experience.</p>
      </div>
<div class="user">
<div class="tech">
      <h2>Tools</h2>
      <i class="devicon-github-plain"></i>
      <i class="devicon-trello-plain"></i>
      <i class="devicon-visualstudio-plain"></i>
      <p> I've used Visual Studio for 4 years now, and I have used it for all of my projects. 
        Git is used regularly for my projects as well, even for version control. To compliment this I also use Trello which allows me to organise and coordinate my work.
        I've even worked with Nsight for my graphics project.</p>
    </div>
</div>
