 <div class="user-details">
  <h1> What do I do? </h1>
  <p> {{site.user_description}} </p>
</div>
<div class="user">
<div class="tech">
  <h2>Code</h2>
  <i class="devicon-cplusplus-plain"></i>
  <i class="devicon-csharp-plain"></i>
  <p>I've programmed in C# for a year and a half, for Unity3D based projects. 
    I also work in C++ which is my primary programming language, I used C++ to complete a number of projects for my course and 
    I am currently working on a group based project using C++. And I have worked in GLSL as well. </p>
</div>
<div class="user">
<div class="tech">
      <h2>Libraries</h2>
      <p>I've worked with OpenGL for my graphics project and now I am currently working with ENet for the group project I am collaborating on.</p>
    </div>
<div class="user">
<div class="tech">
        <h2>Engines</h2>
        <p>I have worked with Unreal Engine for 2 years, and I have worked with Unity for 1 year.</p>
      </div>
<div class="user">
<div class="tech">
      <h2>Tools</h2>
      <i class="devicon-github-plain"></i>
      <i class="devicon-trello-plain"></i>
      <i class="devicon-visualstudio-plain"></i>
      <p>I use Git regularly for my projects, these vary from small scale experiments, to bigger projects such as my graphics engine. 
        To compliment this I also use Trello which allows me to organise and coordinate my work. 
        I've used Visual Studio for 4 years now, and I have used it for all of my projects.
        I've even worked with Nsight for my graphics project.</p>
    </div>
</div>
