 <div class="user-details">
  <h1> Who am I? </h1>
  <p> {{site.user_description}} </p>
</div>
<div class="user">
<div class="tech">
  <h2>Code</h2>
    <ul> 
    <li style="color:white;font-size:15px">1 year of experience with C#</li>
    <li style="color:white;font-size:15px">Primarly work with C++</li>
    <li style="color:white;font-size:15px">Past experience with GLSL</li>
    </ul>
</div>
<div class="user">
<div class="tech">
      <h2>Libraries</h2>
      <ul> 
        <li style="color:white;font-size:15px">Worked with OpenGL for my graphics project</li>
        <li style="color:white;font-size:15px">Currently working with ENet for the group project</li>
     </ul>
</div>
<div class="user">
<div class="tech">
        <h2>Engines</h2>
        <ul> 
          <li style="color:white;font-size:15px">2 years experience with Unreal</li>
          <li style="color:white;font-size:15px">1 year experience with Unity</li>
       </ul>
      </div>
<div class="user">
<div class="tech">
      <h2>Tools</h2>
        <ul> 
          <li style="color:white;font-size:15px">3 years experience with Visual Studio</li>
          <li style="color:white;font-size:15px">Experience with GitHub, primarily used for version control on my projects</li>
          <li style="color:white;font-size:15px">Experience with Trello, used to organise myt projects and work in general</li>
          <li style="color:white;font-size:15px">Past Experience with Nsight due to it being used to debug my graphics project</li>
       </ul>
    </div>
</div>
