<div id="particles-js">
  <div class="header">
      <h1>
        <span class="site-title">{{site.username}}</span>
        <span class="site-description">{{site.user_title}}</span>
      </h1>
      <div class="header-icons">
        <a aria-label="Download CV" target="_blank" href="./assets/docs/Aaron_Robson_cv_2020.pdf"><i class="icon fa fa-file" aria-hidden="true"></i></a>
        <a aria-label="Email" mailto:aaronrobson19@hotmail.co.uk><i class="icon fa fa-envelope-square"></i></a>
        <a aria-label="Twitter" target="_blank" href="https://twitter.com/Robson1Aaron"><i class="icon fa fa-twitter" aria-hidden="true"></i></a>
        <a aria-label="Youtube" target="_blank" href="https://www.youtube.com/channel/UCpobwr6mZ5CCNljhkEul81w?view_as=subscriber"><i class="icon fa fa-youtube" aria-hidden="true"></i></a>
        <a aria-label="Github" target="_blank" href="https://github.com/GeordieGinge"><i class="icon fa fa-github" aria-hidden="true"></i></a>
        <a aria-label="Linkedin" target="_blank" href="https://www.linkedin.com/in/aaron-robson-094264182/"><i class="icon fa fa-linkedin" aria-hidden="true"></i></a>
      </div>
      <div class="header-links">
        <a class="link" href="#about" data-scroll>About Me</a>
        <a class="link" href="#projects" data-scroll>Projects</a>
      </div>
  </div>
  <a class="down" href="#about" data-scroll><i class="icon fa fa-chevron-down" aria-hidden="true"></i></a>
</div>
