<div class="user-details">
  <h1> Featured Projects </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/PuzzleGame.JPG" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Combinatorial Puzzle Simulator </h3>
    <ul>
    </ul>
    <p>This was my first project of the course where I had to replicate the 15 puzzle game in C++ using different techniques such as a binary tree. 
      This project really taught me the foundation of C++.</p>
    <a class="project-link" href="https://github.com/GeordieGinge/15-Puzzle-Coursework">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/BloodRiver.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Graphics Coursework </h3>
    <ul>
    </ul>
    <p>This project was done in my first semester of university, the features of the project include: 
      Texture Mapping, Scene Graphs, Scene Management, Index Buffers, Skeletal Animation, Real 
      Time Lighting, Cube Mapping, Shadow Mapping, Reflections and Bump Maps.</p>
    <a class="project-link" href="https://github.com/GeordieGinge/Graphics">Check it out</a>
  </div>
</div>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/GooseGame.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Game Technologies Goose Game </h3>
    <ul>
    </ul>
    <p>This was my final project for the first semester of university. I made a physics based game, and experimented with different physics. 
      The goose could fly, swim in the water surrounding the map due to the collision of the 'water' 
      being lowered so that the goose wood sink into it and the friction also being lowered on the object, 
      bounce on the trampolines, collide with objects and use the speed ramps up above the goose.</p>
    <a class="project-link" href="https://github.com/GeordieGinge/Games-Technologies">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/Proto.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Golf Game Prototype (UE4) </h3>
    <ul>
    </ul>
    <p>For this project I had to quickly make a prototype. This was to show fun game 
      mechanics/interesting gameplay for the group project that I am collaborating on. 
      And could be made using fast prototype technologies such as blueprints.</p>
    <a class="project-link" href="https://github.com/GeordieGinge/Prototype---Team-Game">Check it out</a>
  </div>
</div>
