<div class="user-details">
  <h1> Featured Projects </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/BloodRiver.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Nile of Blood </h3>
    <ul>
    </ul>
    <p>This project was done in my first semester of university, the features of the project include: 
      Texture Mapping, Scene Graphs, Scene Management, Index Buffers, Skeletal Animation, Real 
      Time Lighting, Cube Mapping, Shadow Mapping, Reflections and Bump Maps.</p>
    <a class="project-link" href="https://github.com/GeordieGinge/Graphics">Check it out</a>
  </div>
</div>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/Proto.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Prototype Team Project </h3>
    <ul>
    </ul>
    <p>For this project I had to quickly make a prototype for the group project that I am currently working on. 
      This was to show fun game mechanics/interesting gameplay for our actual group project. 
      This project did not require any C++ coding and could be made using blueprints in the Unreal Engine.</p>
    <a class="project-link" href="https://github.com/GeordieGinge/Prototype---Team-Game">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/PuzzleGame.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> 15 Puzzle Game </h3>
    <ul>
    </ul>
    <p>This was my first project of the course where I had to replicate the 15 puzzle game in c++ using different techniques such as a binary tree. 
      This project really taught me the basics of C++, from templates to pointers.</p>
    <a class="project-link" href="https://github.com/GeordieGinge/15-Puzzle-Coursework">Check it out</a>
  </div>
</div>